body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Quantity popup */

.quantity-container {
  display: none;
  justify-content: center;
  position: absolute;
  z-index: 120;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  background-color: rgb(0, 0, 0, 0.3);
}

.quantity-box {
  position: relative;
  top: 30%;
  width: 20%;
  height: 240px;
  flex-direction: column;
  background: white;
}

.size {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 20px 10px;
}

.sz {
  width: 30px;
  height: 30px;
  margin: 0px 5px 0px 5px;
  border-radius: 15px;
  background-color: #2c4152;
  color: white;
  cursor: pointer;
  text-align: center;
}

.sz > p {
  position: relative;
  top: 10%;
  /* left: 25%; */
}

.quantity-change {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: flex-start;
}

.quantity-change div {
  margin: 0px 5px 2px 5px;
}

.qant {
  background-color: white;
  color: black;
  border: 1px solid #2c4152;
}

#minus,
#add {
  font-size: 25px;
  cursor: pointer;
}

.update-quantity {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  color: white;
  background-color: #d5a249;
  cursor: pointer;
  font-weight: 550;
}

.quantity-box > div:nth-child(1),
.quantity-box > div:nth-child(3) {
  font-weight: 550;
  margin: 20px;
}

/* Quality popup ends */

#blank {
  height: 100px;
}

#ad {
  text-align: center;
}

#ad img {
  width: 80%;
}

/*Empty Cart div */

.empty-cart {
  display: none;
  width: 50%;
  margin: 40px auto;
  text-align: center;
  /* border: 1px solid red; */
}

.empty-bag {
  color: gray;
  font-size: 20px;
  margin: 20px;
}

.continue-shop-button {
  display: flex;
  width: 22%;
  height: 50px;
  background-color: #d5a249;
  margin: auto;
  color: white;
  font-size: 12px;
  font-weight: 550;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*Empty Cart div ends */

/* Product Box */

#cart-product {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  /* border: 1px solid red; */
}

.column-1 {
  width: 72%;
  /* border: 1px solid blue; */
}

.column-2 {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin-left: 2%;
  /* border: 1px solid orangered; */
}

.bag-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bag-count div:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}

#item-count {
  color: grey;
  font-weight: normal;
}

.add-closet {
  color: #176c93;
  cursor: pointer;
}

.product-show {
  display: flex;
  border: 1px solid #f6f6f6;
}

.product-show img {
  width: 15%;
  height: fit-content;
  align-self: center;
  max-height: 100%;
}

.product-show a {
  width: 25%;
  margin: 20px 20px 0px 20px;
  text-decoration: none;
  color: black;
}

.product-size,
.cart-qty {
  width: 10%;
  margin: 20px 20px 0px 20px;
  color: grey;
}

.product-size > span,
.cart-qty > span {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.delete {
  width: 8%;
  margin: 175px 20px 0px 20px;
  color: #176c93;
  cursor: pointer;
}

.amount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0px 10px 10px;
}

.total-amount {
  background-color: #e1ecf1;
  border-left: 6px solid #176c93;
  padding: 2px;
}

.move {
  color: #176c93;
  cursor: pointer;
}

/* Bill Card */

.bill {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.bill > div:nth-child(1) {
  margin: 10px;
  font-weight: bold;
}

.bill-card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.bill button {
  height: 50px;
  border: none;
  background-color: #d5a249;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* #bag-item-amount {
} */

#bag-delivery-amount {
  color: #b09975;
}

#bag-total-amount {
  font-weight: 550;
}

/* COUPON TAB */

#coupon {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  border: 1px dashed #d5a249;
}

.coupon-info {
  font-weight: bold;
  margin-bottom: 10px;
}

.coupon-input {
  display: flex;
  margin-top: 20px;
}

.coupon-available {
  margin-top: 20px;
}

.coupon-show {
  display: flex;
  margin-top: 10px;
}

.coupon-show input,
.coupon-show label {
  margin: 10px;
}

.coupon-show label > div {
  margin: 0px 0px 5px 0px;
}

.link {
  color: #176c93;
  cursor: pointer;
}

.coupon-saving {
  font-weight: bold;
}

.coupon-saving > span {
  color: #b09975;
}

.coupon-input input {
  width: 70%;
  height: 40px;
  border: 1px solid grey;
  font-size: 15px;
}

.coupon-input button {
  width: 30%;
}
/* Bottom Bar */

.bottom-bar {
  width: 100%;
  height: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.bottom-bar,
.bottom-bar-info {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #b09975;
}

.bottom-bar-info {
  margin: 0px 10px 0px 10px;
}

.bottom-bar-info img {
  opacity: 0.5;
  width: 35px;
  margin-right: 10px;
}

.nav > img {
  width: 100%;
  position: relative;
  top: -14px;
  left: 60px;
}
