* {
    margin: 0px;
    padding: 0px;
}

#clearboth {
    clear: both;
    height: 15vh;
    /* border: 2px dashed yellow; */
}


/* for complete page */

#page {
    display: flex;
    /* border: 2px solid black; */
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
}


/* for left side box */

#left_side {
    width: 20%;
    min-width: 200px;
    margin-top: 40px;
    color: #2f4254;
    /* border: 2px dashed blue; */
}

#left_side>ul button {
    /* content: "\2212"; */
    background-color: white;
    text-align: left;
    width: 100%;
    font-size: 18px;
    margin: 3% 0;
    cursor: pointer;
    border: white;
    content: none;
    color: #2f4254;
}

#left_side button::before {
    content: "\2b";
    margin-right: 10px;
}

#left_side>ul>div>div {
    margin-left: 20px;
    /* margin-bottom: 10px; */
}

#left_side>ul>div>div>div>div {
    margin-bottom: 10px;
}


/* for right side box */

#right_side {
    width: 80%;
    min-width: 40%;
    /* border: 2px dashed blue; */
}

#right_side h1 {
    text-align: center;
    margin-bottom: 5vh;
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: .1px;
    color: #333;
    text-transform: capitalize;
}

#right_side hr {
    min-width: 400px;
}

#right_side>:nth-child(3) {
    display: flex;
    min-width: 400px;
    /* border: 2px solid brown; */
    background-color: rgba(249, 249, 249, 255);
    /* height: 40px; */
    padding: 1%;
    margin: 5px 0px;
}

#right_side>:nth-child(3)>div {
    margin: 0px auto;
}

#right_side>:nth-child(3)>p {
    color: #c2c2c2;
}

#right_side>:nth-child(3)>select {
    margin: 0px 10px;
}

#product_box {
    display: grid;
    width: 95%;
    margin: 20px auto;
    /* border: 2px solid black; */
    gap: 0 2%;
}

#product_box>div {
    height: 470px;
    /* border: 2px solid brown; */
    width: 100%;
    min-width: 350px;
    cursor: pointer;
}

#product_box>div>div {
    text-align: center;
}

#product_box>div>div {
    font-family: 'Lora', serif;
    font-size: 15px;
}

#product_box>div>div>p:nth-child(1) {
    color: #c4b398;
}

#product_box>div>div>div>span:nth-child(2) {
    text-decoration: line-through;
}

#product_box>div>div>div>span:nth-child(3) {
    color: #c4b398;
}

#product_box>div>img {
    width: 330px;
    height: 380px;
    margin-left: 10px;
}

.box1 {
    grid-area: b1;
}

.box2 {
    grid-area: b2;
}

.box3 {
    grid-area: b3;
}

.box4 {
    grid-area: b4;
}

.box5 {
    grid-area: b5;
}

.box6 {
    grid-area: b6;
}

.box7 {
    grid-area: b7;
}

.box8 {
    grid-area: b8;
}

.box9 {
    grid-area: b9;
}

.box10 {
    grid-area: b10;
}

.box11 {
    grid-area: b11;
}

.box12 {
    grid-area: b12;
}


/* Small Screen */

@media only screen and (max-width: 900px) {
    #product_box {
        grid-template: "b1" "b2" "b3" "b4" "b5" "b6" "b7" "b8" "b9" "b10" "b11" "b12";
    }
    #product_box>div>img {
        margin-left: 10vw;
    }
}


/* Medium Screen */

@media only screen and (min-width: 900px) {
    #product_box {
        grid-template-areas: "b1 b2" "b3 b4" "b5 b6" "b7 b8" "b9 b10" "b11 b12";
    }
}


/* Small Screen */

@media only screen and (min-width: 1200px) {
    #product_box {
        grid-template-areas: "b1 b2 b3" "b4 b5 b6" "b7 b8 b9" "b10 b11 b12";
    }
}


/* footer */

footer {
    background-color: #2c4152;
    margin: 0px;
    padding: 0px;
}

#service {
    width: 98vw;
    height: 150px;
    background-color: #f8f8f8;
}

#ftr_menu {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu_item {
    margin: 40px 0px 40px 0px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #bfc8cb;
    border-bottom: 1px solid white;
}

.item_list {
    display: flex;
    flex-direction: column;
}

.ftr_items {
    display: flex;
    flex-direction: column;
}

.headline {
    margin: 40px 0px 40px 0px;
    font-size: 20px;
}

.ftr_items>a {
    text-decoration: none;
    margin: 7px 0px 7px 0px;
    color: #bfc8cb;
    font-size: 14px;
}

#payment {
    display: flex;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.pay_img {
    width: 120px;
    height: 40px;
    margin: 15px;
}

.pay_img>a>img {
    width: 100%;
    height: 100%;
}

.pay_logo {
    display: flex;
    flex-direction: row;
}

.pay_title {
    font-size: 12px;
    color: #bfc8cb;
    margin-left: 14px;
}